* {
    --white: #f2faff;
    --primary: #bb1513;
    --primary-opacity: #bb16136c;
    --secondary : #434242;
    --onTertiary: #323232;
    --inversePrimary: #0d7b11;
    --surfaceTint: #3c653a;
    --surface: #6dbe69;
    color: var(--white);
    padding: 0;
    margin: 0;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: var(--secondary);
    scroll-behavior: smooth;
    scroll-padding: 70px;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--onTertiary);
    text-align: left;
}
.header img {
    height: 40px;
    padding: 10px;
}
.header-button {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.header-button:hover {
    background-color: var(--primary-opacity);
}
.contact-form {
    margin-top: 140px;
    width: calc(70vw - 60px);
    margin-left: 15vw;
    background-color: var(--onTertiary);
    padding: 30px;
    border-radius: 10px;
}
.contact-form h1 {
    text-align: center;
    margin-bottom: 30px;
}
.contact-form label {
    font-weight: 900;
    margin-bottom: 5px;
}
.contact-form input {
    width: calc(100% - 20px);
    height: 40px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.contact-form select {
    width: 100%;
    height: 40px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.contact-form textarea {
    width: calc(100% - 20px);
    height: 40px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    height: 35vh;
    resize: none;
}
.contact-form button {
    padding: 10px;
    background-color: var(--primary);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 90px;
    margin-left: calc(50% - 45px);
    transition: all .25s ease-in-out;
}
.contact-form button:hover {
    background-color: var(--primary-opacity);
}